.nav.pull-right
  = link_to t('.navbar.sign_up'), new_user_registration_path, class: "mgn-small btn btn-small btn-success"
  = link_to t('.navbar.sign_in'), new_user_session_path, class: "mgn-small btn btn-small btn-primary"