// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presentation {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mgn-small {
  float: none;
  margin-left: 3px;
  margin-right: 3px;
}

.mgn-medium {
  float: none;
  margin-left: 8px;
  margin-right: 8px;
}

.center-text {
  text-align: center;
}