.nav-sign-in {
  form {
    margin: 0;
  }
  
  input {
    margin: 3px 3px;
  }
}

.navbar-container-margin {
  margin-top: 35px;
}

.export {
  margin: 10px 0;
}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  bottom:0;
  margin-top: 70px;
  padding: 35px 0;
}

.mgn-input {
  margin-bottom: 10px;
}

.mgn-left {
  margin-left: 5px;
}

.nested-form {
  margin-bottom: 10px;
}

.new {
  margin: 10px 0;
}

.search-form {
  .align-right {
    vertical-align: bottom;
  }
}

.align-right {
  text-align: right;
}

.table-link {
  a {
    color: #333;
  }
}