.nav-sign-in {
  form {
    margin: 0;
  }
  
  input {
    margin: 3px 3px;
  }
}

.navbar-container-margin {
  margin-top: 35px;
}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  bottom:0;
  margin-top: 70px;
  padding: 35px 0;
}